body {
    background-color: #1c1c1c; /* Set background color */
}


nav {
    background-color: #1c1c1c;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8f1f1;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Raleway', sans-serif; /* Apply Raleway font */
}

nav a img {
    width: 200px;
    margin-bottom: 5px;
}

nav a:hover {
    background-color: #555;
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Center vertically */
    padding: 10px; /* Adjust spacing as needed */
    background-color: #1c1c1c; /* Set background color */
}

nav a item {
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
}

.divider {
    border-top: 4px solid #ffeeaa;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header h1 {
    color: #f8f1f1;
    font-size: 450%;
    font-family: 'Raleway', sans-serif;
    margin-left: 40px; /* Equal margin between the images and the heading */
}

h2 {
    color: #f8f1f1;
    font-size: 350%;
    font-family: 'Raleway', sans-serif;
    margin-left: 75px; /* Equal margin between the images and the heading */
}

h3 {
    color: #f8f1f1;
    font-size: 350%;
    font-family: 'Raleway', sans-serif;
    margin-left: 300px; /* Equal margin between the images and the heading */
}

.flex-item h8 {
    text-align: right; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    color: #f8f1f1;
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    margin-left: 100px; /* Equal margin between the images and the heading */
}

.flex-item h9 {
    text-align: right; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    color: #f8f1f1;
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    margin-left: 110px; /* Equal margin between the images and the heading */
}

.flex-item h10 {
    text-align: right; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    color: #f8f1f1;
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    margin-left: 90px; /* Equal margin between the images and the heading */
}

.flex-item h11 {
    text-align: left; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    margin-top: -20px;
    color: #f8f1f1;
    font-size: 150%;
    margin-left: -15px;
    font-family: 'Raleway', sans-serif; /* Apply Raleway font */
    margin-bottom: 20px; /* Adjust the value for spacing between image and text */
}

.flex-item h12 {
    text-align: left; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    color: #f8f1f1;
    font-size: 150%;
    margin-right: 500px;
    font-family: 'Raleway', sans-serif; /* Apply Raleway font */
}


.flex-item h13 {
    text-align: left; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    margin-top: -20px;
    color: #f8f1f1;
    font-size: 150%;
    margin-left: -110px;
    font-family: 'Raleway', sans-serif; /* Apply Raleway font */
    margin-bottom: 20px; /* Adjust the value for spacing between image and text */
}

img.drink-image {
    text-align: right; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: right; /* Center items vertically */
    width: 150px; /* Adjust the width as needed */
    height: 300px; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
    margin-right: 30px;
    margin-bottom: 20px; /* Adjust the value for spacing between image and text */
    margin-top: -100px;
    transform: rotate(25deg); /* Adjust the angle as needed */
}

.flex-item h6 {
    text-align: left; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
    font-size: 150%;
    margin-left: -60px;
    font-family: 'Raleway', sans-serif; /* Apply Raleway font */
    margin-bottom: 40px; /* Adjust the value for spacing between image and text */
}

img.drink-image2 {
    text-align: left; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center items vertically */
    width: 150px; /* Adjust the width as needed */
    height: 300px; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
    margin-left: 50px;
    margin-bottom: 20px; /* Adjust the value for spacing between image and text */
    margin-top: -100px;
    transform: rotate(-25deg); /* Adjust the angle as needed */
}
h2.tequila {
    margin-left: 1100px; /* Adjust the margin for Tequila */
}

h2.gin {
    margin-left: 1200px; /* Adjust the margin for Tequila */
}

h2.whiskey {
    margin-left: 1070px; /* Adjust the margin for Tequila */
}
.short-divider-left {
    border-top: 2px solid #7e96bc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 75px;
    width: 300px;
}

.short-divider-right {
    border-top: 2px solid #7e96bc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1000px;
    width: 300px;
}

img.drink-image3 {
    text-align: right; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: right; /* Center items vertically */
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
    margin-left: 30px;
    margin-bottom: 60px; /* Adjust the value for spacing between image and text */
    margin-top: -80px; /* Decreased the negative margin */
    transform: rotate(25deg); /* Adjust the angle as needed */
}

img.drink-image4 {
    text-align: left; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center items vertically */
    width: 125px; /* Adjust the width as needed */
    height: 250px; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
    margin-left: 50px;
    margin-bottom: 50px; /* Adjust the value for spacing between image and text */
    margin-top: -100px;
    transform: rotate(-25deg); /* Adjust the angle as needed */
}

img.drink-image6 {
    text-align: left; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center items vertically */
    width: 200px; /* Adjust the width as needed */
    height: 325px; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
    margin-left: -350px;
    margin-bottom: 20px; /* Adjust the value for spacing between image and text */
    margin-top: -100px;
    transform: rotate(25deg); /* Adjust the angle as needed */
}