body {
    height: auto;
    background-color: #363636;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #000;
    color: #fff;
    display: grid;
    padding: 10px;
}

.navbar_title {
    float: left;
    margin: 0;
    padding: 0;
}

.navbar_item {
    float: left;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-right: 1px;
}

.navbar_menu {
    margin: 0px;
}

a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
}

form {
    text-align: center;
    padding: 10px;
    border: none;
}

label {
    display: block;
    color: #fff;
    margin: 20px 0;
    font-size: 150%;
}